<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h1>Join <%=@current_animation.name.capitalize%> animation ?</h1>
        </div>
        <% flash.each do |key, value| %>
        <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
            <p>
                <%= value %>
            </p>
        </div>
        <% end %>
        <%= render 'form_new' %>
    </div>
</div>
