<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Login</h1>
        </div>
        <% flash.each do |key, value| %>
        <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
            <p>
                <%= value %>
            </p>
        </div>
        <% end %>
        <%= render 'form_login' %>
    </div>
</div>
