<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Map</h1>
            </div>
            <iframe style="height:70vh;" src="https://docs.google.com/spreadsheets/d/1yPqFfTxow5HApPP8j6GFp-4GAZVSm-GsqiDfK_bL6BY/pubhtml?gid=1243216050&amp;single=true&amp;widget=true&amp;headers=false" width="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>
