<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Planning</h1>
            </div>
            <iframe style="height:70vh;" src="https://docs.google.com/spreadsheets/d/1qj78QiwPD6Mw822xwgGcIUE_iK2poIVvpUgbL0jvtEw/pubhtml?gid=1462455898&range=A:U&amp;single=true&amp;widget=true&amp;headers=false" width="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>
