
html {
    font-family: "Open sans";
}

body{
    max-width: 1920px;
    box-sizing: border-box;
    width: 100%;
    background: #151b27;
    color: #FFF;
}

form{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

textarea {
    max-width: 100%;
}

header{
    margin-bottom: 6em;
}

.global_wrapper{
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-top: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
}
