<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4>Teams</h4>
            <iframe src="https://battlefy.com/embeds/teams/57cf74f9c64f4f1b0ce8c46e" title="Battlefy Tournament Teams" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
        <div class="col-md-8">
            <h4>Standings</h4>
            <iframe src="https://battlefy.com/embeds/57cf74f9c64f4f1b0ce8c46e/stage/57cf757454f09c210c514833/standings" title="Battlefy Tournament - Tournoi ARAM" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
</div>
