<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4>Teams</h4>
            <iframe src="https://battlefy.com/embeds/teams/57a90dd5468829201c2a1bf2" title="Battlefy Tournament Teams" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
        <div class="col-md-8">
            <h4>Pools</h4>
            <iframe src="https://battlefy.com/embeds/57a90dd5468829201c2a1bf2/stage/57a90e41eeee52040fecaef4" title="Battlefy Tournament - Phase de Poule" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Playoffs Elite</h4>
            <iframe src="https://battlefy.com/embeds/57a90dd5468829201c2a1bf2/stage/57a91931219fc5701174c214" title="Battlefy Tournament - Arbre du tournoi élite" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Playoffs Fun</h4>
            <iframe src="https://battlefy.com/embeds/57a90dd5468829201c2a1bf2/stage/57a91951e13269090f22aa82" title="Battlefy Tournament - Arbre du tournoi Fun" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
</div>
