<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4>Teams</h4>
            <iframe src="https://battlefy.com/embeds/teams/57cf6aa36980a8250c6f2a34" title="Battlefy Tournament Teams" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
        <div class="col-md-8">
            <h4>Pools</h4>
            <iframe src="https://battlefy.com/embeds/57cf6aa36980a8250c6f2a34/stage/57cf6aa36980a8250c6f2a35" title="Battlefy Tournament - Pools" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Standings</h4>
            <iframe src="https://battlefy.com/embeds/57cf6aa36980a8250c6f2a34/stage/57cf6aa36980a8250c6f2a35/standings" title="Battlefy Tournament - Pools" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
</div>
