<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h4>Teams</h4>
            <iframe src="https://battlefy.com/embeds/teams/57c5cff8a0c09dbb0c5e577c" title="Battlefy Tournament Teams" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>
        </div>
    </div>
</div>
