<table class="body" data-made-with-foundation="" style="background: #151b27;">
    <tr>
        <td class="float-center" align="center" valign="top">
            <center data-parsed="">
                <table class="spacer float-center">
                    <tbody>
                        <tr>
                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" class="container float-center">
                    <tbody>
                        <tr>
                            <td>
                                <table class="row header">
                                    <tbody>
                                        <tr>
                                            <th class="small-12 large-12 columns first last">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <table class="spacer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <h4 class="text-center">Geneva Gaming Convention 2016</h4> </th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row">
                                        <tbody>
                                            <tr>
                                                <th class="small-12 large-12 columns first last">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <table class="spacer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <center data-parsed=""> <%= image_tag('ggc_web', align: "center", class: "float-center", size: "64")%></center>
                                                                <table class="spacer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <h1 class="text-center">Network & Intranet</h1>
                                                                <table class="spacer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p class="text-left">
                                                                    Hi <%= @user.name.capitalize %>, it's good to see you there !</br>
                                                                    Just a little mail to give you your GGC2016 credentials.
                                                                </p>
                                                                <p class="text-left">Here is your connection email: <strong><%= @user.email %></strong></p>
                                                                <table class="button large expand">
                                                                    <tr>
                                                                        <td>
                                                                            <table>
                                                                                <tr>
                                                                                    <td>
                                                                                        <center data-parsed="" class="float-center" style="min-height:4em;vertical-align:middle;line-height:4em;">password: <strong><%= @password %></strong></center>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td class="expander"></td>
                                                                    </tr>
                                                                </table>
                                                                <hr>
                                                                <p><small>You received this email because you're registered for GGC 2016 edition.</small></p>
                                                            </th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="spacer">
                                        <tbody>
                                            <tr>
                                                <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </table>
